assignment1/merge provinces/tmp/noordholland_unmerged2.json
assignment1/merge provinces/tmp/noordholland_merged2.json
assignment1/merge provinces/merge.js
assignment1/report/report final.aux
assignment1/report/report final.pdf
assignment1/report/report final.synctex.gz
assignment1/report/report final.tex
*.aux
*.log
*.out
*.pdf
*.toc
*.synctex.gz
assignment1/report/report.synctex.gz(busy)
assignment1/report/report.toc