assignment1/merge provinces/tmp/noordholland_unmerged2.json
assignment1/merge provinces/tmp/noordholland_merged2.json
assignment1/merge provinces/merge.js
assignment1/report/report final.aux
assignment1/report/report final.pdf
assignment1/report/report final.synctex.gz
assignment1/report/report final.tex
*.aux
*.log
*.out
*.pdf
*.toc
*.synctex.gz
assignment1/report/report.synctex.gz(busy)
assignment1/report/report.toc
assignment1/report/report.synctex.gz
*.gz
/assignment2/application/VolVis/build/
assignment2/application/VolVis/nbproject/private/private.xml
*.xml
assignment2/application/VolVis/nbproject/private/private.xml
assignment2/application/VolVis/nbproject/private/private.xml
assignment2/application/VolVis/nbproject/private/private.xml
assignment2/application/VolVis/nbproject/project.properties
/assignment2/application/VolVis/dist/
assignment2/application/assignment2TimvDalenBartvWezel.zip
assignment2/application/assignment2TimvDalenBartvWezel/carpgif.gif
assignment2/application/assignment2TimvDalenBartvWezel/dist/lib/beansbinding-1.2.1.jar
assignment2/application/assignment2TimvDalenBartvWezel/dist/lib/gluegen-rt-natives-linux-amd64.jar
assignment2/application/assignment2TimvDalenBartvWezel/dist/lib/gluegen-rt-natives-linux-armv6.jar
assignment2/application/assignment2TimvDalenBartvWezel/dist/lib/gluegen-rt-natives-linux-armv6hf.jar
assignment3/report/report final.tex
assignment2/application/carpgif.gif
assignment2/application/VolVis/nbproject/private/private.xml
assignment2/application/VolVis/nbproject/private/private.xml
assignment2/application/VolVis/nbproject/private/private.xml
assignment2/application/VolVis/nbproject/private/private.xml
assignment2/application/VolVis/nbproject/private/private.xml
assignment2/application/VolVis/nbproject/private/private.xml
assignment2/report/img/ingeleverd.png
assignment2/report/img/intro_app.png