#detailContainer .municipalityName {
	margin-top: 0;
}

svg#detail .axis line,
svg#detail .axis path {
	shape-rendering: crispEdges;
	fill: transparent;
	stroke: #555;
}
svg#detail .axis text {
	font-size: 11px;
}

svg#detail .bar {
	fill-opacity: 0.5;
}

svg#detail .barHolder:hover .bar {
	fill-opacity: 0.8;
}

svg#detail .bar {
	fill: LightSlateGray;
}

svg#detail .bartext {
	opacity: 0.5;
	display: none;
}

svg#detail .barHolder:hover .bartext {
	display: initial;
}

svg#detail g.axis.y.left > path.domain {
	display: none;
}
