#filter {
	margin-bottom: 20px;
}

svg#main path {
	stroke: grey;
	stroke-width: 1px;
	fill: white;
	cursor: pointer;
}

svg#main path:hover{
	opacity: 0.5;
}

.legend{
	display: flex;
	align-items: center;
}

.legendBar{
	height: 50px;
	border: 1px solid black;
	padding: 0;
}

.legendBarValue {
	width: 1px;
	height: 100%;
	background-color: black;
	display: none;
}
.settings {
	margin-top: 50px;
}
